[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=${Edi_Name}
Name[fr]=${Edi_Name}
GenericName=${Edi_Name}
Comment=Efl Application ${Edi_Name}
Icon=${Edi_Name}
TryExec=${Edi_Name}
Exec=${Edi_Name}
Categories=Development;Utility;
