# generated and tmp files
*~
*.edj
*.exe
*.o
*.lo
*.la
.deps
*.gcno
*.gcda
.edi

/src/bin/${edi_name}
/src/tests/${edi_name}_tests
packaging/slackware/${edi_name}-*.txz
${edi_name}-*.tar.?z*
po/*.gmo
po/POTFILES
.libs

# autotools crap
m4/*.m4
!m4/efl*.m4
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
ar-lib
test-driver
test-suite.log

# gettext crap
ABOUT-NLS
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po

doc/${edi_name}.1
data/desktop/${edi_name}.desktop

/coverage/
/src/tests/${edi_name}_tests.*
/src/tests/test-suite.log
/src/tests/check-results.xml
